<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar nav-down">
    <div class="container">
        <a href="index.html" class="navbar-brand"><img src="assets/img/new_logo-03.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                <li class="nav-item" data-nav-home-li>
                    <a class="nav-link" href="index.html" data-nav-home>HOME</a>
                </li>
                <li class="nav-item" data-nav-work-li>
                    <a class="nav-link" href="index.html#work" data-nav-work>WORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="assets/files/valzhang2026.pdf" target="_blank">RESUME</a>
                </li>
                <li class="nav-item" data-nav-about-li>
                    <a class="nav-link" href="about.html" data-nav-about>ABOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
