<!-- Navbar Start -->
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar nav-down">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a href="index.html" class="navbar-brand"><img src="assets/img/new_logo-03.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item active">
                            <a class="nav-link" href="#hero-area">
                                HOME
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#work">
                                WORK
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="assets/files/valzhang2025.pdf" target="_blank">
                                RESUME
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="about.html">
                                ABOUT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>