/*large screens*/

@media screen and (min-width:1282px) {
.parallax_bg{
  min-height: 850px; }
  .work-container {
  width: 85%;
}
}


  /* only small desktops */
@media screen and (min-width:992px) {
  #mobile-demo {
    display: none !important;
  }

  #hero-area .contents .head-title {
    font-size: 36px;
    line-height: 48px;
  }

  .services-item .services-content h3 a {
    font-size: 14px;
  }

  .title-hl {
    font-size: 30px;
  }

  .why .content h3 {
    font-size: 30px;
  }

  .team-item .contetn {
    padding: 15px 20px;
  }

}




/* tablets */
@media screen and (max-width: 991px), screen and (max-device-width: 768px) {

  .parallax_bg{
      min-height: 650px; /* Set a specific height */
      background-size: auto;
    }


  .feature-img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: auto;
  }

  #hero-area {
    background: white;
  }

  #desk-demo {
    display: none;
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .services-item .services-content h3 a {
    font-size: 14px;
  }

  .services-item {
    margin-bottom: 20px;
  }

  #pricing-table .title h3 {
    font-size: 14px;
  }

  /* only small tablets */
  @media screen and (min-width:768px) and (max-width:991px) {
    #hero-area .contents .head-title h2 {
      font-size: 38px;
    }

    .navbar-brand img {
      margin: 0 0;
    }

    .navbar-brand img {
      width: 100%;
    }

    .top-nav-collapse .navbar-brand img {
      width: 100%;
    }

    .section-title {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .services-item .services-content h3 a {
      font-size: 16px;
    }

    .bg-inverse {
      background: #fff !important;
      box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    }

    .navbar-expand-md .navbar-nav .nav-link {
      margin-bottom: 0;
      margin-top: 0;
    }

    #about .sec-title h3 {
      font-size: 30px;
      line-height: 42px;
    }

    .title-hl {
      font-size: 30px;
    }

    .text-wrapper {
      padding: 60px 30px;
    }

    .why .content h3 {
      font-size: 30px;
    }

    #pricing-table .title h3 {
      font-size: 14px;
    }

    .skill-area img {
      margin-bottom: 30px;
    }

    #blog .blog-item-wrapper {
      margin-bottom: 30px;
    }

    .experience h4 {
      font-size: 18px;
    }

    .testimonial-item {
      padding: 10px;
    }

    .testimonial-item .content h2 {
      font-size: 15px;
    }

    .slider-center img {
      padding: 40px 60px;
    }

    .subscribes h4 {
      font-size: 30px;
    }

    .footer-area .footer-titel {
      margin-top: 30px;
    }

    .contact-right-area {
      margin-top: 0px;
      margin-left: 0px;
    }

  }

  /* mobile or only mobile */
  @media screen and (max-width:767px) {

    .project-tag {
      margin-left: 0;
    }

    .project-tag2 {
      padding: 0;
      margin-left: 0;
    }

    .video-features {
      width: 38%;
    }

    #sidenav {
      display: none !important;
    }

    .mobile-hide {
      display: none !important;
    }

    .w-50 {
      width: 20% !important;
    }

    #hero-area .contents .head-title h2 {
      font-size: 34px;
    }

    .navbar-brand img {
      margin: 0 0;
    }

    .navbar-brand img {
      width: 100%;
    }

    .top-nav-collapse .navbar-brand img {
      width: 100%;
    }

    .img-fluid {

      /*max-height: 100%;*/
      max-width: 100%;
    }

    .section-padding {
      padding: 60px 30px;
    }

    #work {
      padding-bottom: 0;
    }

    .section-title {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .navbar-expand-md .navbar-brand, .navbar-expand-md .navbar-toggler {
      margin: 0px 15px;
    }

    .bg-inverse {
      background: #fff !important;
      box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    }

    .navbar-expand-md .navbar-nav .nav-link {
      margin-bottom: 0;
      margin-top: 0;
    }

    .navbar-brand img {
      margin: 5px 0;
    }

    .top-nav-collapse .navbar-brand img {
      margin-top: 10px;
    }

    .intro-img {
      margin-top: 20px;
    }

    #hero-area .img-thumb {
      display: none;
    }

    #hero-area .contents .head-title {
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 15px;
    }

    #hero-area .contents p {
      font-size: 14px;
    }

    #hero-area {
      padding: 120px 0 80px;
    }

    #hero-area .contents .btn {
      margin: 5px 10px 10px 0px;
    }

    .text-wrapper {
      padding: 60px 15px;
    }

    #about .sec-title h3 {
      font-size: 22px;
      line-height: 36px;
    }

    .about-area img {
      margin-top: 30px;
    }

    .feature-thumb {
      padding: 10px;
    }

    .testimonial-item {
      padding: 0;
    }

    .client-item-wrapper img {
      width: 50%;
    }

    #cta h4 {
      font-size: 22px;
    }

    #cta .text-right {
      float: left !important;
    }

    #cta .btn {
      float: left;
    }

    .team-item .team-img {
      width: 100%;
      float: none;
    }

    .team-item .contetn {
      padding: 15px 30px;
    }

    .footer-right-contact .single-contact {
      margin: 10px 7px;
      padding: 3px 45px;
    }

    .footer-area .footer-titel {
      margin-top: 30px;
    }

    .contact-right-area {
      margin: 20px 0;
    }

    .contact-form-area h2 {
      font-size: 14px;
    }

    .copyright .float-right {
      float: left !important;
    }

    .map {
      margin-top: 20px;
    }

    #cta {
      padding: 20px 0;
    }

    .cta-text {
      margin-bottom: 30px;
    }

  }


@media screen and (max-width: 991px) {
  .nvOverview-parallax,
  .dtcpay-case1-parallax,
  .dtcpayOverview-parallax,
  .dtcpay-case2-parallax,
  .nv-case1-parallax,
  .gm-parallax,
    .levels-parallax,
      .ava-parallax
     {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll !important;
    display: block;
  }

  .nvOverview-parallax {
    background-image: url("../img/nv-img/nv_overview_mobile.png");
  }

  .gm-parallax {
    background-image: url("../img/gm-img/gm_mobile.png");
  }

  .levels-parallax {
    background-image: url("../img/levels-img/levels_mobile.png");
  }

  .ava-parallax {
    background-image: url("../img/ava-img/ava_mobile.png");
  }

  .cinetrip-parallax {
    background-image: url("../img/cinetrip-img/cinetrip_mobile.png");
  }

  .dtcpay-case1-parallax {
    background-image: url("../img/dtcpay-img/dtcpay_case1_mobile.png");
  }

  .dtcpayOverview-parallax {
    background-image: url("../img/dtcpay-img/dtcpay_overview_mobile.png");
  }

  .dtcpay-case2-parallax {
    background-image: url("../img/dtcpay-img/dtcpay_case2_mobile.png");
  }

  .nv-case1-parallax {
    background-image: url("../img/nv-img/nv_case1_mobile.png");
  }
}